*{
padding:0;
margin:0;
box-sizing:border-box;
}

.card{
  width: 333px;
  height: 195px;
  margin: 10px;
}

.card img{
  width: 100%;
  height: 100%;
}




.item{
  width: 128px;
  height: 188px;
  margin: auto;
}

.content{
  display: flexx;
}

.item img{
  width: 100%;
  height: 100%;
}

.category{
  display: flex;
  flex-wrap: wrap;
}